@import 'assets/styles/colors.scss';

.register_pending {
  max-width: 500px;
  margin: 6em auto 0 auto;
  @media screen and (max-width: 767px) {
    margin-top: 2em;
  }

  &_title {
    margin-bottom: 15px;
    border-bottom: 2px solid $alt-grey;
  }

  &_intro {
    color: $blue;
  }

  &_section {
    margin-bottom: 1em;
    color: #000;

    &_header {
      font-weight: bold;
    }

    &--links {
      
      a {
        display: block;
        line-height: 1.4285em;
        color: $matisse-blue;
      }
    }
  }
}