@import "../../../assets/styles/colors.scss";

.actionsMenu {
  z-index: 3;
  display: none;
  margin-top: -5px;
  transition: width 0.5s ease;
  @media screen and (max-width: 767px) {
    z-index: 3;
    width: 100%;
    padding: 3px 0 1px 0;
    background-color: #fff;
    box-shadow: 1px 1px 5px $medium-grey;
  }

  &.active {
    display: block;
  }

  &_wrapper {
    display: flex;
  }

  &_toggle {

    &:after {
      content: 'Select All';
      position: absolute;
      left: 25px;
      min-width: 75px;
    }    
  }

  img {    
    margin-left: 1em;
    cursor: pointer;
  }

  .unpublish {
    vertical-align: top;
    display: inline-block;    
    margin-left: 0.5em;
    margin-top: 2px;

    &--text {
      margin-left: 0.5em;
      color: $light-blue;
    }
  }
}