@import "../../../assets/styles/colors.scss";

.project_header {
    
  h2 {
    min-height: 32px;
    font-size: 34px;
    @media screen and (max-width: 450px) {
      font-size: 20px;
    }
  }

  &_icon {
    position: absolute;
    top: 5px;
    @media screen and (max-width: 450px) {
      top: 1em;
    }
  }

  &_text {
    position: absolute;
    top: 0;
    left: 50px;
    @media screen and (max-width: 450px) {
      top: 0.8em;
      left: 40px;
    }
  }

  i.icon {      
    position: relative;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    font-size: 0.5em;
    background-color: $blue;
    color: #fff;
    @media screen and (max-width: 450px) {
      height: 20px;
      width: 20px;
    }

    &:before {
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      margin-top: -6px;
      @media screen and (max-width: 450px) {
        margin-top: -3px;
      }
    }
  }
  
}