@import "../../../../assets/styles/colors.scss";

.edit-project__form {
  .msg--required {
    display: inline-block;
    margin-left: 0.5em;
    color: $red;
    font-size: 0.625em;
    font-weight: normal;
  }
}
