@import "../../../../assets/styles/colors.scss";

.edit-project__form {
  .heading {
    line-height: 1;
  }

  .msg--required {
    color: $red;
    font-size: 0.625em;
    font-weight: normal;
  }
}
