@import "../../../../assets/styles/colors.scss";

.edit-project {
  @media screen and (max-width: 899px) {
    .project_header {
      margin-bottom: 1em;
    }
  }

  .uppercase {
    text-transform: uppercase;
  }

  .ui.form {
    textarea {
      font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
  }

  .ui.button {
    box-shadow: none !important;

    &.disabled,
    &:disabled {
      cursor: not-allowed;
      pointer-events: auto !important;
    }

    &.basic.btn--edit {
      color: $light-blue !important;

      &:active,
      &:hover,
      &:focus {
        color: $matisse-blue !important;
        box-shadow: none;
      }
    }
  }
  
  &__btn--delete {
    &.ui.basic.button {
      border: 2px solid transparent;
      @media screen and (max-width: 899px) {
        border-color: $grey;
      }
      color: $grey !important;
      font-weight: normal;

      &:hover,
      &:active,
      &:focus {
        border-color: $grey;
        color: #fff !important;
        background-color: $grey !important;
      }

      &.disabled:hover,
      &.disabled:active,
      &.disabled:focus {
        border-color: transparent !important;
        @media screen and (max-width: 899px) {
          border-color: $grey !important;
        }
        color: $grey !important;
        background-color: transparent !important;
      }
    }
  }

  &__btn--preview,
  &__btn--save-draft,
  &__add-more {
    &.ui.basic.button {
      border: 2px solid $matisse-blue;
      color: $matisse-blue !important;
      font-weight: bold;
      background-color: #fff;

      &:hover,
      &:active,
      &:focus {
        color: #fff !important;
        background-color: $matisse-blue !important;
      }

      &.disabled:hover,
      &.disabled:active,
      &.disabled:focus {
        color: $matisse-blue !important;
        background-color: transparent !important;
      }
    }
  }

  &__btn--final-review,
  &__form--save {
    border: 2px solid $light-blue !important;
    color: #fff !important;
    background-color: $light-blue !important;

    &:hover,
    &:active,
    &:focus {
      border-color: $matisse-blue !important;
      background-color: $matisse-blue !important;
    }

    &.disabled:hover,
    &.disabled:active,
    &.disabled:focus {
      color: #fff !important;
      background-color: $light-blue !important;
    }
  }

  &__status {
    > .ui.progress {
        border-radius: 0;
        margin-bottom: 3em;
        font-size: 0.875em;
        background-color: $light-grey;

        .bar {
          border-radius: 0;
          &::after {
            border-radius: 0;
          }
        }

        .label {
          font-weight: normal;
        }
      }
  }

  &__content {
    padding: 1.75em;
  }

  &__items {
    border-top: 1px solid $light-grey;
    padding: 1.75em;
  }

  .ui.modal {
    > .content {
      position: relative;
    }
  }
}
