@import "../../../../../assets/styles/colors.scss";

.myProjects {

  &_actions {
    margin-right: 15px;
    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  &_thumbnail {
    flex: 1;
    margin-right: 15px;
    @media screen and (max-width: 767px) {
      margin-right: 0;
    }

    img {
      width: 100%;
    }
  }

  &_data {
    flex: 2;
    display: flex;
    flex-direction: column;

    &_title {
      flex: 1;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: bold;
      color: $blue;
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }

      &:hover {
        color: $light-blue;
      }
    }

    &_actions {
      font-size: 11px;

      button {
        -webkit-appearance: none;
        padding: 0;
        border: none;
        background-color: transparent; 
      }
    }
  }

}