@import "../../assets/styles/colors.scss";

.ui.grid .row.items_tableMenus {
  padding-bottom: 0;  
}

// @-moz-document url-prefix() {
//   html, body {
//     overflow: hidden!important;
//   }
// }

.items {

  &_table {
    position: relative;
    max-height: 500px;
    overflow: scroll;
    border: 1px solid rgba(34, 36, 38, 0.15);

    /* ONLY IN WORKS IN CHROME & SAFARI */
    &::-webkit-scrollbar {
      display: none;
    }

    table.ui.sortable.table {
      table-layout: fixed;
      width: 100%;
      margin-top: 0;
      border: none;
      border-radius: 0;

      td, th {        
  
        &:first-child {
          position: sticky;
          left: 0;
          width: 300px !important;
        };
      }

      td {
        z-index: 1;
        background-color: #fff;
        box-shadow: 3px 0 3px 1px rgba(0,0,0,0.1);
        
        &.items_table_item {
          @media screen and (max-width: 767px){
            &:not(:first-child) {
              display: none !important;
            }
          }
        }

        .primary_col {
          display: flex;
        }
      }

      th {
        letter-spacing: 0.5px;
      }
    }

    &_mobileHeader {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    
  }  
}
